<!doctype html>
<title>A short quiz</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>A short quiz</h1>
  <div class=metanav>

<h4>
You will be asked {{num}} questions.
Please answer them to the best of your ability.
</h4>

<form id='userinfoform_lulu' method='post' action='index_lulu' > <!-- action is the URL you want to move to next-->
   <p>
   Ticker Symbol: <input type='text' name='tickersym' />
   </p>
   <p>
   <input type='checkbox' name='close_lulu' value='close'/> Closing price
   </p>
   <p>
   <input type='checkbox' name='adj_close_lulu' value='adj_close'/> Adjusted closing price


   </p>
   <p>
   <input type='checkbox' name='open_lulu' value='open'/> Opening price
   </p>
   <p>
   <input type='checkbox' name='adj_open_lulu' value='adj_open'/> Adjusted opening price
   </p>
   <p>
   <input type='submit' value='Submit_lulu' /> <!-- value is the text that will appear on the button. -->
   </p>
</form>

</div>
</div>
